* {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
}
body {
  background: url("fond-ecran.jpg");
  backdrop-filter: grayscale(20%);
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 100px 40px;
}
.window {
  position: relative;
  height: 500px;
  width: 700px;
  background: rgba(151, 153, 155, 0.982);
  border-radius: 20px;
  border: 10px solid white;
  margin: 0 auto;
}

.window-btn {
  background: white;
  height: 10px;
  width: 705px;
  border-radius: 15px 20px 0 0;
}
.window-btn::before {
  content: ".";
  color: #e84f37;
  position: absolute;
  top: -93px;
  left: 0px;
  font-size: 7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 10;
}
.window-btn::after {
  content: ".";
  color: #ecae48;
  position: absolute;
  top: -93px;
  left: 20px;
  font-size: 7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 10;
}
.window-header {
  margin-top: -3px;
  transform: translateX(-10px);
  height: 20px;
  width: 700px;
  border-radius: 20px;
  border: 10px solid white;
}
.window-header::after {
  content: ".";
  color: #1da99d;
  position: absolute;
  top: -110px;
  left: 40px;
  font-size: 7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 10;
}

.window-body {
  margin-top: -10px;
  transform: translateX(-10px);
  height: 355px;
  width: 500px;
  padding: 50px 100px;
  border-radius: 20px;
  border: 10px solid white;
}

h1 {
  margin-top: -35px;
}

h1::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  border-radius: 50px;
  width: 500px;
  top: 60px;
  left: 100px;
  transition: ease-in-out;
  animation: animh1 5s forwards;
  animation-delay: 4s;
  transform: scaleX(0);
  transform-origin: center;
}

@keyframes animh1 {
  100% {
    transform: scaleX(1);
  }
}

h3 {
  margin-top: 70px;
}
#btn1 {
  position: absolute;
  text-align: center;
  top: 205px;
  left: 170px;
  margin: 0px 20px 0px 20px;
  border: 1px solid white;
  height: 60px;
  width: 100px;
  border-radius: 8px;
  background-color: #519cf7cb;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.489);
  font-size: 1rem;
  user-select: none;
}
#btn2 {
  line-height: 59px;
  top: 205px;
  left: 390px;
  position: absolute;
  text-align: center;
  margin: 0px 20px 0px 20px;
  border: 1px solid white;
  height: 60px;
  width: 100px;
  border-radius: 8px;
  background-color: #519cf7cb;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.489);
  font-size: 1rem;
  user-select: none;
}
p {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: 1s;
  position: absolute;
  top: 280px;
  left: 125px;
  width: 450px;
  font-size: 1.5rem;
  color: rgba(151, 153, 155, 0.982);
  text-shadow: 0.8px 0.8px rgba(0, 0, 0, 0.681);
  border-radius: 10px;
}
.show-response {
  visibility: visible;
  color: #519cf7cb;
  opacity: 1;
  transform: translateY(0px);
}
span {
  position: absolute;
  width: 350px;
  top: 400px;
  left: 175px;
}
